/* 
    FONTS

    CarlMarx
    font-family: carlmarx, sans-serif;
    font-style: normal;
    font-weight: 400;

    Axia
    font-family: axia, sans-serif;
    font-style: normal;
    font-weight: 900;

*/